<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
      </div>
      <div class="modal-body">
        <form #changePasswordForm="ngForm">
          <div class="mb-3">
            <label for="oldPassword" class="col-form-label">Old Password</label>
            <input
              type="text"
              class="form-control"
              id="oldPassword"
              name="oldPassword"
              required
              #oldPass="ngModel"
              [(ngModel)]="changePasswordModel.oldPassword"
              [class.is-invalid]="oldPass.touched && oldPass.invalid"
            />
          </div>
          <div class="mb-3">
            <label for="newPassword" class="col-form-label">New Password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              required
              #newPass="ngModel"
              [(ngModel)]="changePasswordModel.newPassword"
              [class.is-invalid]="newPass.touched && newPass.invalid"
            />
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="col-form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              required
              #confirmPass="ngModel"
              [(ngModel)]="changePasswordModel.confirmPassword"
              [class.is-invalid]="
                (confirmPass.touched && confirmPass.invalid) ||
                (confirmPass.valid && confirmPass.value !== newPass.value)
              "
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="
            changePasswordForm.invalid ||
            (changePasswordForm.valid && confirmPass.value !== newPass.value)
          "
          (click)="changePassword()"
        >
          Change Password
        </button>
      </div>
    </div>
  </div>