<div *ngIf="showEmail">
    <form action="" class="card w-50 mx-auto my-5" (ngSubmit)="forgetpassword(forgetPass)" #forgetPass="ngForm">
        <div class="form-floating my-3 mx-3">
            <input type="text" name="email" placeholder="Email" [(ngModel)]="userEmail" class="form-control" >
            <label for="email">Email</label>
        </div>
        <button class="btn btn-outline-primary my-3 mx-3">Next</button>
    </form>
</div>

<div *ngIf="showCode">
    <form action="" class="card w-50 mx-auto my-5" (ngSubmit)="reset(resetPasswordCode)" #resetPasswordCode="ngForm">
        <div class="form-floating my-3 mx-3">
            <input type="text" name="resetcode" placeholder="Reset Code" [(ngModel)]="code.resetCode" class="form-control" >
            <label for="resetcode">One Time Authentication Code</label>
        </div>
        <button class="btn btn-outline-primary my-3 mx-3">Next</button>
    </form>
</div>