<section class="hotelSection">

  <div class="hotels">
    <img src="\assets\images\hotels.jpg" alt="">
    <div class="glass-card">
      <p class="star">Star:1</p>
      <hr>
      <p>Name:</p>
      <p>Address:</p>
      <p>Description:</p>
    </div>
  </div>
  
</section>

<footer>
  <section>
    <div class="linksDiv">
      <ul class="destinationUl">
        <li><span>DESTINATIONS</span></li>
        <li>Gulmarg</li>
        <li>Pahalgam</li>
        <li>Sonmarg</li>
        <li>Kokarnag</li>
        <li>Naranag </li>
      </ul>

      <ul class="destinationUl">
        <li><span>Call us</span></li>
        <li>+91 1234567890</li>
        <li style="font-size: 12px;">Email Us</li>
        <li>trackDeKashmir</li>
      </ul>

      <ul class="destinationUl">
        <li><span>Links</span></li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/hotels">Hotels</a></li>
        <li><a routerLink="/packages">Packages</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/about">About Us</a></li>
      </ul>

      <div class="anchorLinks">
        <ul class="linksUl">
          <li><a href="#">Terms</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <span id="name">TrackDeKashmir</span>
        <span id="facebook"><strong>f</strong></span>
        <span id="instagram"><strong>in</strong></span>
        <span id="twitter"><strong>tw</strong></span>
      </div>
    </div>
  </section>
</footer>