<!--sidebar start-->
<div class="sidebar">
    <div class="profile_info">
      <img src="{{filePath}}" class="profile_image" alt="" />
      <h4>{{user?user:"Guide"}}</h4>
    </div>
    <a
      class="a-design"
      routerLinkActive="active"
      routerLink="/guide"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="fas fa-desktop"></i><span>Dashboard</span></a
    >
    <!-- <a class="a-design" routerLinkActive="active" routerLink="/guide/hotels"
      ><i class="fa-solid fa-hotel"></i><span>Hotels</span></a
    > -->
    <a class="a-design" routerLinkActive="active" routerLink="/guide/packages"
      ><i class="fa-solid fa-box-open"></i><span>Your Packages</span></a
    >
    <!-- <a class="a-design" routerLinkActive="active" routerLink="/guide/trekkingears"
      ><i class="fa-solid fa-location-pin"></i><span>Trekking Gears</span></a
    > -->
  
    <a class="a-design" routerLinkActive="active" routerLink="/guide/clients">
      <i class="fa-solid fa-user"></i><span>Clients</span>
    </a>
    <!-- <a class="a-design" routerLinkActive="active" routerLink="/guide/employees">
      <i class="fa-solid fa-users"></i><span>Employees</span>
    </a> -->
    <!-- <a class="a-design" routerLinkActive="active" routerLink="/guide/addAccount">
      <i class="fa-solid fa-plus"></i><span>Add Users</span>
    </a> -->
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="background: none; margin-left: 25px; outline: none; color: white"
        routerLinkActive="active"
      >
        <i class="fas fa-sliders-h"></i>Settings
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" routerLink="/guide/settings/account"
            >Account</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="/guide/settings/changePassword"
            >Change Password</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="logoutConfirmation()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  