<!-- <div class="container" style="width: 70vw; margin-right: 5%;">
<div class="container card my-3">
   <form action="" (ngSubmit)="submitBook(myForm)" #myForm="ngForm">
     <div class="form-floating my-2">
        <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="book.name">
        <label for="name">Name</label>
     </div>
     <div class="form-floating my-2">
        <input class="form-control"  type="text" name="email" placeholder="Email" [(ngModel)]="book.email">
        <label for="email">Email</label>
     </div>
     <div class="form-floating my-2">
        <input class="form-control"  type="text" name="phoneNumber" placeholder="Mobile Number" [(ngModel)]="book.phoneNumber">
        <label for="phoneNumber">Mobile Number</label>
     </div>
     <div class="form-floating my-2">
        <input class="form-control"  type="number" name="noOfAdults" placeholder="No of Adults" [(ngModel)]="book.noOfAdults">
        <label for="noOfAdults">No. of Adults</label>
     </div>
     <div class="form-floating my-2">
        <input class="form-control"  type="number" name="noOfChildrens" placeholder="No. of Childrens" [(ngModel)]="book.noOfChildrens">
        <label for="noOfChildrens">No. of Childrens</label>
     </div>
     <div class="form-floating">
        <input class="form-control"  type="text" name="packageId" placeholder="" [(ngModel)]="book.packageId">
        <label for="packageId">packageId</label>
     </div>
     <div class="text-center">
        <button class="btn btn-outline-primary my-2">Book</button>
     </div>
   </form>
</div>
</div> -->
<div class="container" style="width: 80vw; margin-right:1.5%;">
   <div><h1><strong class="">Bookings For </strong></h1></div>
   <div class="container card py-3">
      <table class="table table-striped table-hover">
         <thead>
            <tr>
               <td>Booked By</td>
               <td>Amount Paid</td>
               <td>Payment Method</td>
               <td>Booking Status</td>
               <td>More Details</td>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let booking of packageBookings">
               <td>
                  {{booking.userName}}
               </td>
               <td>
                  {{booking.amountPaid}}
               </td>
               <td>
                  {{booking.paymentMethod | paymentMethod}}
               </td>
               <td>
                  {{booking.bookingStatus | bookingStatus}}
               </td>
               <td>
                  <!-- <button (click)="getClient(booking.userId)"  type="button" class="btn btn-primary">                Details
                  </button> -->
                  <p class="d-inline-flex gap-1">
                     <a (click)="getClient(booking.userId)" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                       Client Info
                     </a>
                     <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                       Button with data-bs-target
                     </button> -->
                   </p>
               </td>
               <!-- (click)="getClient(userId)" -->
               <!-- <td>
                  <button id="{{booking.id}}" class="btn btn-outline-secondary text-center btn-sm"><img src="/assets/icons/pencil-square.svg" alt=""></button> |
                  <button class="btn btn-outline-secondary btn-sm"><img src="/assets/icons/trash3-fill.svg" alt="">Detail</button>
               </td> -->
            </tr>
         </tbody>
      </table>
   </div>
</div>

<!-- Button trigger modal -->
 <!-- Modal -->
 <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="staticBackdropLabel">Client Details</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <table>
               <tr>
                  <th>Name:</th>
               </tr>
               <tr>
                  <td>{{client.name}}</td>
               </tr>
               <tr>
                  <th>Email:</th>
               </tr>
               <tr>
                  <td>{{client.email}}</td>
               </tr>
               <tr>
                  <th>Phone Number:</th>
               </tr>
               <tr>
                  <td>{{client.contactNo}}</td>
               </tr>
         </table>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Understood</button>
       </div>
     </div>
   </div>
 </div> -->

 <!-- <p class="d-inline-flex gap-1">
   <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
     Link with href
   </a>
   <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
     Button with data-bs-target
   </button>
 </p> -->
 <div class="collapse" id="collapseExample">
   <div class="card card-body">
     <p>Name: {{client.name}}</p>
     <p>Phone: {{client.contactNo}}</p>
     <p>Email: {{client.email}}</p>
   </div>
 </div>
