<section class="gallery-sec">
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1624464026997-4edff27521ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1806&q=80"
      alt=""
    />
  </div>
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1614056965546-42fbe24eb36c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1829&q=80"
      alt=""
    />
  </div>
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1616190419641-1301c7ffb095?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1665&q=80"
      alt=""
    />
  </div>
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1616190422907-2fb9d8e38954?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1664&q=80"
      alt=""
    />
  </div>
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1531520140596-076b6929bc69?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
      alt=""
    />
  </div>
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1531400158697-004a3a06fd3f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
      alt=""
    />
  </div>
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1611051490931-8b26ca7ce5ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80"
      alt=""
    />
  </div>
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1646142439319-b4db7856e007?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
      alt=""
    />
  </div>
</section>
